{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <title>HOME PAGE</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
    <script src="{% static 'scripts/app.js' %}" type="module"></script>
  </head>

  <body class="bg-gray-50 font-serif leading-normal tracking-normal">
    {% include "shared/navbar.html" %}
    <div class="flex pt-[57px]">
      {% include "shared/sidebar.html" %}
      <div class="ml-[200px] w-full pt-[20px] p-4">
        <main class="bg-gray-100 p-4 rounded-lg">
          {% block content %}{% endblock %}
        </main>
      </div>
    </div>
  </body>
</html>
