{% load static%}

<div class="border-b border-gray-200 pb-4 mb-4">
  <nav class="flex space-x-4">
    <a
      href="#"
      class="text-gray-500 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium"
      >全部訂單</a
    >
    <a
      href="#"
      class="text-gray-500 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium"
      >訂單付款</a
    >
    <a
      href="#"
      class="text-gray-500 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium"
      >待付款</a
    >
    <a
      href="#"
      class="text-gray-500 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium"
      >待發貨</a
    >
    <a
      href="#"
      class="text-gray-500 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium"
      >已發貨</a
    >
    <a
      href="#"
      class="text-gray-500 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium"
      >取消</a
    >
    <a
      href="#"
      class="text-gray-500 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium"
      >退款</a
    >
    <a
      href="#"
      class="text-gray-500 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium"
      >異常待處理</a
    >
  </nav>
</div>
